page-change-password {
  .login-toggle-container {

    >p {
      text-align: center;
      color: red;
      font-size: .8em;
      min-height: 1.6em;
      margin-bottom: 0;
    }

    .item {
      min-height: 0;
      height: 30px;
      padding-left: 0;

      .item-inner {
        padding-right: 0;
      }

      .label {
        font-size: .8em;
      }

      .checkbox {
        margin-right: 18px !important;
      }

      &.login-toggle .label {
        text-align: right;
      }
    }
  }
}
